input/*.txt
output/*.tar
__pycache__
.venv*/
.venvw/
.vscode/settings.json
.pytest_cache/
dist/
*.egg-info/
bin/harbor/common/
bin/distribution-tooling-for-helm/
.DS_Store
bin/apache-maven*
bin/nexus/nexus-data
input/test/output/test
airgapper-deb/build
