// {
//     "branches": [
//         {
//             "name": "master",
//             "channel": "stable"
//         },
//         {
//             "name": "fix-deb-publish",
//             "channel": "beta",
//             "prerelease": true
//         }
//     ]
// }